* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}

body,
html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

ul {
  list-style: none;
}

header {
  width: 100vw;
  height: 100vh;
  background-image: url('./img/header-bg.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: whitesmoke;
  /* font-family: 'Poppins', sans-serif; */
}

.header-content {
  margin-bottom: 150px;
  text-align: center;
}

.header-content h2 {
  font-size: 4vmin;
}

.line {
  width: 150px;
  height: 4px;
  background-color: rgb(255, 0, 111);
  margin: 10px auto;
  border-radius: 5px;
}

.header-content h1 {
  font-size: 7vmin;
  margin-top: 50px;
  margin-bottom: 30px;
}

.ctn {
  color: whitesmoke;
  background-color: rgb(255, 0, 111);
  padding: 8px 15px;
  border-radius: 30px;
}

nav {
  position: absolute;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 0 20px;
  color: whitesmoke;
}

nav h1 {
  font-size: 4vmin;

}

.nav-list {
  display: flex;


}

.nav-list>li {
  padding: 8px 50px;
}

.active {
  color: rgb(255, 0, 111);
  text-decoration: underline;
}

.burger-menu {
  display: none;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 50px;
}

@media only screen and (max-width:1025px) {
  .burger-menu {
    display: block;
  }

  nav {
    padding: 0;
  }

  nav h1 {
    position: absolute;
    top: 30px;
    left: 30px;
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-color: rgb(65, 44, 94);
    margin-top: -1400px;
    transition: all .5s ease;
    border-bottom-right-radius: 30%;

  }

  .nav-list li {
    margin: 30px 0;
  }

  .nav-open {
    margin-top: 0px;
  }

}

section {
  width: 80%;
  margin: 80px auto;
}

.events h1 {
  font-size: 4vmin;
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.row .col {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.events .row {
  margin-top: 50px;

}

h4 {
  font-size: 3vmin;
  color: rgb(65, 44, 94);
  margin: 20px auto;
}

.events p {
  color: rgb(112, 112, 112);
  padding: 0px 40px;
}

.events .ctn {
  margin-top: 30px;
}

.explore {
  width: 100%;
  height: 100vh;
  background-image: url('./img/bg2.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.explore-content {
  padding: 90px;
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.explore-content h1 {
  font-size: 6vmin;
  color: whitesmoke;
}

.explore-content .line {
  margin-bottom: 50px;
}

.explore-content p {
  color: rgb(227, 222, 238);
}

.explore-content .ctn {
  margin-top: 50px;
}

.content-col {
  width: 40%;
}

.img-col {
  width: 60%;
}

.tour .img-col {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.img-col img {
  width: 320px;
  height: 234px;
  padding: 10px;
}

.tour h1 {
  font-size: 4vmin;
  color: rgb(65, 44, 94);
}

.tour .line {
  margin-left: -1px;
}

.tour p {
  padding: 0;
  margin: 30px auto;
}

.footer {
  width: 100%;
  height: 100px;
  padding-top: 50px;
  margin: 0;
  background-color: rgb(65, 44, 94);
  text-align: center;
}

.footer p {
  color: whitesmoke;
}

@media only screen and (max-width:1405px) {
  .events .row {
    flex-direction: column;
  }

  .events .col {
    margin-top: 20px;
  }

  .explore-content {
    width: 100%;
  }

}

@media only screen and (max-width:900px) {
  .tour .row {
    display: block;
  }

  .tour .content-col {
    text-align: center;
    margin: 0 auto 30px auto;
    width: 100%;
  }

  .content-col h1 {
    font-size: 6vmin;
  }

  .content-col .line {
    margin: 10px auto 0px auto;
  }

  .tour .img-col img {
    width: 470px;
    height: 300px;
  }


}

img {
  transition: transform .3s ease;
}

img:hover {
  transform: scale(1.1);
}

.ctn:hover {
  background-color: whitesmoke;
  color: rgb(255, 0, 111);
  box-shadow: 2px 2px 5px black;
}

a:hover {
  color: rgb(255, 0, 111);
  cursor: pointer;
  text-decoration: underline;
}